.logo {
    width: 50px;
    margin: 3px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    visibility: hidden;
}

btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.btn.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn.btn-danger {
    color: #fff;
    background-color: red;
    border-color: red;
    
}